body {
  background-color: #f0efea;
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 25px;
  text-align:center;
}

.atlanta {
  width: 125px;
  margin-top: 75px;
}

.container {
  text-align: center;
  margin: 0 auto;
}

.centered {
	max-width: 449px;
	left: 50%;
	position: fixed;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.centered img { max-width: 100%; }
